.App {
  text-align: center;
  margin: 0;
}

/* css for the header */
.header {
  /*border: 2px solid black;*/
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 50px;
  box-shadow: 3px 3px 5px black;
  background-color: rgba(67, 83, 223, 0.836);
  padding: 0 50px;
  margin-bottom: 0;
}

.demo {
  /*border: 2px solid black;*/
  overflow: hidden;
  height: 75%;
  margin-top: 2px;
  margin-bottom: auto;
  padding-bottom: 4px;
  font-size: 27px;
  color: white;
}

.links {
  /*border: 2px solid black;*/
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 225px;
  padding: 0;
}

.login {
  border-style: none;
  color: white;
  background-color: inherit;
  font-size: 15px;
  height: 100%;
  cursor: pointer;
}

.free-trial {
  background-color: rgb(54, 53, 53);
  border-style: none;
  color: whitesmoke;
  height: 75%;
  cursor: pointer;
  box-shadow: 3px 3px 3px rgb(54, 53, 53);
}

/* css for the Title ( Popular Title ) */

.title {
  /*border: 2px solid black;*/
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 0 50px;
  background-color: rgb(54, 53, 53);
  height: 50px;
  overflow: hidden;
}

.title-text {
  /*border: 2px solid black;*/
  text-align: center;
  color: white;
  font-size: large;
  height: 35px;
  margin-top: 4px;
  padding-top: 5px;
}

#img2 {
  background-image: url(./component/assets/placeholder.png);
}

footer {
  background: rgb(54, 53, 53);
}

.footer {
  border: 2px solid black;
  margin: 20px;
  padding: 20px;
  background: rgb(54, 53, 53);
}
